services:
  api:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: unless-stopped
    depends_on:
      - clamav

  clamav:
    image: mkodockx/docker-clamav:alpine
    container_name: clamav
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "clamdscan --version || exit 1"]
      interval: 1m30s
      timeout: 10s
      retries: 3
