services:
  mongo:
    image: mongo:6
    environment:
      - MONGO_INITDB_DATABASE=qetta
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
